extends layout

block content
    form(onsubmit="registerUser()",action="/users/create",method="post",name="registerform")
        div(class="form-group")
            div
                label Name
                input(type="text",class="form-control",id="name",name="name",value="#{viewModel.name}",required="required")
            div
                label Lastname
                input(type="text",class="form-control",id="lastName",name="lastName",value="#{viewModel.lastName}",required="required")
            div
                label Username
                input(type="text",class="form-control",id="userName",name="userName",required="required")
            div
                label Date of birth
                input(type="date",class="form-control",id="dateofBirth",name="dateofBirth",required="required")
            div
                label password
                input(type="password",class="form-control",id="password",name="password",required="required")
            div
                label Retype password
                input(type="password",class="form-control",id="retypepassword",name="retypepassword",required="required")
            div
                label Type
                input(type="text",class="form-control",value="#{viewModel.type}",name="type",disabled="disabled")
            input(type="text",class="invisible",value="#{viewModel.userId}",name="userId",id="userId")
            input(type="text",class="invisible",value="#{viewModel.relation}",name="relation",id="relation")
            input(type="text",class="invisible",name="newUserId",id="newUserId")
        div
            button(class="btn btn-primary",id="registerBtn",onclick="registerUser(event)") Submit